{% extends 'base.html' %}

{% block content %}
    <h1>Мої точки для шашлику</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Назва</th>
            <th>Рейтинг</th>
            <th>Кількість коментарів</th>
        </tr>
        </thead>
        <tbody>
        {% for spot in kebab_spots %}
            <tr>
                <td><a href="{% url 'main:kebab_spot_detail' spot.id %}">{{ spot.name }}</a></td>
                <td>{{ spot.avg_rating|default_if_none:"Немає" }}</td>
                <td>{{ spot.comments_count }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Ви ще не додали жодної точки для шашлику.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}