{% extends 'base.html' %}
{% load static %}

{% block title %}Головна - Kebab Spots{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <a href="{% url 'main:create_kebab_spot' %}" class="btn btn-primary">Додати точку для шашлику</a>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/map_utils.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var map = initMap('map');
            initMapWithUserLocation(map, "{% url 'main:home' %}");
        });
    </script>
{% endblock %}