{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Головна - Kebab Spots{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <style>
        #map {
            height: 400px;
        }
        .filter-form {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .filter-form .form-group {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center">
                <form action="{% url 'main:search' %}" method="get" class="form-inline justify-content-center mb-3">
                    <input type="text" id="searchQuery" name="q" class="form-control mr-sm-2"
                           placeholder="Введіть назву населеного пункту">
                    <button type="submit" class="btn btn-primary">Пошук</button>
                </form>
                <a href="{% url 'main:create_kebab_spot' %}" class="btn btn-primary">Додати точку для шашлику</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="filter-form">
                    <h4>Фільтри</h4>
                    <form method="get" action="{% url 'main:home' %}">
                        {% crispy filter_form %}
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var map = initMap('map');
            var userMarker;

            initMapWithUserLocation(map, "{% url 'main:home' %}");

            var kebabSpots = {{ kebab_spots_json|safe }};
            console.log('Kebab spots data:', kebabSpots);
            addKebabSpots(map, kebabSpots);

            function initMap(elementId, initialView = [0, 0], zoom = 13) {
                var map = L.map(elementId).setView(initialView, zoom);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                L.control.locate({
                    position: 'topright',
                    strings: {
                        title: "Показати моє місцезнаходження"
                    },
                    locateOptions: {
                        enableHighAccuracy: true
                    },
                    drawCircle: false
                }).addTo(map);

                return map;
            }

            function addKebabSpots(map, spots) {
                spots.forEach(function (spot) {
                    if (spot.lat && spot.lng && !isNaN(spot.lat) && !isNaN(spot.lng)) {
                        var latlng = [parseFloat(spot.lat), parseFloat(spot.lng)];
                        var marker = L.marker(latlng).addTo(map);

                        var tooltipContent = spot.name + '<br>Рейтинг: ' + (spot.avg_rating ? spot.avg_rating.toFixed(1) : 'Немає оцінок');
                        marker.bindTooltip(tooltipContent, {
                            permanent: false,
                            direction: 'top',
                            offset: L.point(-14, -13)
                        });

                        marker.on('click', function () {
                            window.location.href = spot.url;
                        });
                    } else {
                        console.warn('Invalid coordinates for spot:', spot);
                    }
                });
            }

            function initMapWithUserLocation(map, url) {
                function onLocationFound(e) {
                    var lat = e.latitude;
                    var lng = e.longitude;
                    map.setView([lat, lng], 13);

                    var redIcon = new L.Icon({
                        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });

                    if (userMarker) {
                        map.removeLayer(userMarker);
                    }

                    userMarker = L.marker([lat, lng], {icon: redIcon}).addTo(map)
                        .bindPopup('Ви тут')
                        .openPopup();

                    var currentUrl = new URL(window.location.href);
                    currentUrl.searchParams.set('lat', lat);
                    currentUrl.searchParams.set('lng', lng);

                    fetchKebabSpots(currentUrl.toString(), function (spots) {
                        addKebabSpots(map, spots);
                    });
                }

                function onLocationError(e) {
                    console.error("Помилка геолокації: ", e.message);
                }

                map.on('locationfound', onLocationFound);
                map.on('locationerror', onLocationError);

                map.locate({setView: true, maxZoom: 16});
            }

            function fetchKebabSpots(url, callback) {
                fetch(url, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Fetched kebab spots:', data);
                        callback(data);
                    })
                    .catch(error => {
                        console.error('Error fetching kebab spots:', error);
                    });
            }
        });
    </script>
{% endblock %}